#name {
	text-align: center;
	margin: .625em 0em;
	text-transform: uppercase;
	font-size:1.5em;

}
body {
	font-family: 'Averia Libre', sans-serif;
	background: #ebebeb;
	color: #262727;
}
#contact h2 {
	margin-bottom: .9375em;
}
.btn {
	color:rgba(255,255,255,1);
	font-size: 1.3em;
	background: #31566d;
	padding:.625em;
	margin: .0625em;
	text-transform: uppercase;
	border-radius: 2.5em;
}
a {
	text-decoration:none;
}
.btn:hover {
	background: rgba(50,87,111,0.34)
}

@media screen and (max-width: 705px){

	#contact{
		text-align: center;
	}

}
