---
layout: default
---

		<!-- Jumbotron -->
		<div class="title-block">
			<div>
				<h1>{{ site.creator_name }}</h1>
				<p>{{ site.description}}  </p>
				{% if site.display_email %}
					<a type="button" class="heading-button" href="mailto:{{ site.display_email }}"><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.display_email }}</a>
				{% endif %}
				{% if site.twitter_username %}
				<a type="button" class="heading-button" href="https://www.twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i> @{{site.twitter_username}}</a>
				{% endif %}
				{% if site.github_username %}
				<a type="button" class="heading-button" href="https://www.github.com/{{ site.github_username }}">
						<i class="fa fa-github-alt" aria-hidden="true"></i> {{site.github_username}}
				</a>
				{% endif %}
				{% if site.linkedin_username %}
				<a type="button" class="heading-button" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin" aria-hidden="true"></i> {{site.linkedin_username}}</a>
				{% endif %}
			</div>
		</div>
		<!-- /Jumbotron -->
		
		<!-- Main Container -->
		<div class="container">
			
			<!-- Education -->
			<div id="education" class="sub-section">
				<h3>Education</h3>
				<div class="text-section">
					<p>{{ site.education }}</p>
				</div>
			</div>
			<!-- /Education -->
			
			
			<!-- Work -->
			<div id="work" class="sub-section">
				<h3>Work</h3>
				<!-- Job Loop -->
				{% assign jobs = site.posts | where: "type", "work" %}
				{% for each_job in jobs %}
				<div class="card-item">
					<img src="{{each_job.image}}">
					<h4>{{each_job.title}}</h4>
					<h6>{{each_job.duration}}</h6>
					<p>{{ each_job.deck }}</p>
				</div>
				{% endfor %}
				<!-- /Job Loop -->
			</div>
			<!-- /Work -->
			
			
			<!-- Projects -->
			<div id="projects" class="sub-section">
				<h3>Projects</h3>
				<!-- Project Loop -->
				{% assign projects = site.posts| where:"type", "project" %}
				{% for each_project in projects %}
				<div class="card-item">
					<img src="{{each_project.image}}">
					<h4>{{each_project.title}}</h4>
					<h6>{{each_project.duration}}</h6>
					<p>{{ each_project.deck }}</p>
				</div>
				{% endfor %}
				<!-- /Project Loop -->
			</div>
			<!-- /Projects -->
		</div>
		<!-- /Main Container -->